footer.text-center.small
  nav.navbar-inverse.navbar-fixed-bottom
    p Copyright 2005, 
      a(href="http://jeffreyhann.ca") Jeffrey Hann
    p Protected under the 
      a(href="https://www.gnu.org/licenses/old-licenses/gpl-2.0.en.html") GNU General Public License, version 2
