include header.jade
nav.navbar-inverse.navbar-fixed-top
  .navbar-header
    a.navbar-brand("http://tremble-js.github.io/") TrembleJS 
  ul.nav.navbar-nav.navbar-right
    li
      a(href="https://github.com/tremble-js/tremble-js") Fork me on GitHub
        i.fa.fa-code-fork
    li
      a(href="/logout") Sign out
        i.fa.fa-sign-out
.container
  .col-xs-10.wrapper.text-center.col-xs-offset-1
    .row
      h2 Keep all your GitHub repos mirrored safely on BitBucket
    .row
      .col-xs-12
        .panel.panel-default.disabled
          .panel-heading
            h3 Step 1:
          .panel-body
            p Sign in with GitHub
            a
              i.fa.fa-github.fa-4x(title="Sign in with GitHub")
include footer.jade

