include header.jade
nav.navbar-inverse.navbar-fixed-top
  .navbar-header
    a.navbar-brand("http://tremble-js.github.io/") TrembleJS 
  ul.nav.navbar-nav.navbar-right
    li
      a(href="https://github.com/tremble-js/tremble-js") Fork me on GitHub
        i.fa.fa-code-fork
    li
      a(href="/logout") Sign out
        i.fa.fa-sign-out
.container
  .col-xs-10.wrapper.text-center.col-xs-offset-1
    .row
      h2 Tired of bugs creeping into your projects?
      p Automatically build your website, screenshot every page, and store them in the cloud grouped by the commit.
      p When you find a bug and don't know what commit is responsible, check your screenshots and easily identify when it was introduced.
    .row
      ul#myTabs.nav.nav-tabs(role="tablist")
        li(role="presentation")
          a(href="#setup", aria-controls="setup", data-toggle="tab") Setup 
        li.active(role="presentation")
          a(href="#results", aria-controls="results", data-toggle="tab") Results
        li(role="presentation")
          a(href="#past", aria-controls="past", data-toggle="tab") Past Comparisons
    .row
      .tab-content
        .tab-pane(role="tabpanel", id="setup")
          .row
            .col-xs-12.col-md-6
              .panel.panel-default.disabled
                .panel-heading
                  h3 Step 1:
                .panel-body
                  p Sign in with GitHub
                  a
                    i.fa.fa-github.fa-4x(title="Sign in with GitHub")
            .col-xs-12.col-md-6
              .panel.panel-default.disabled
                .panel-heading
                  h3 Step 2:
                .panel-body
                  p Sign in with Dropbox 
                  a
                    i.fa.fa-dropbox.fa-4x(title="Sign in with Dropbox")
           .row
              .col.col-xs-12
                .panel.panel-primary
                  .panel-heading
                    h3 Step 3:
                  .panel-body
                    p Add the webhook to your GitHub repos:
                    pre https://localhost:8181/
                    p.bg-warning
                      small
                        i IMPORTANT:
                        br
                        i If your repo is part of a GitHub organization you will have to first create a BitBucket team with a matching name.
        .tab-pane.active(role="tabpanel", id="results")
          .panel.panel-default
            .panel-heading
                h3 Results:
                a(target="_blank", href="https://github.com/"+results[0].repo+"/compare/"+results[0].leftCommit+"..."+results[0].rightCommit)
                  h4.results.results__left= results[0].cLeftCommit
                  h4.results.results__right= results[0].cRightCommit
            .panel-body
                each res in results
                  .row
                    if res.status == true
                      .col-xs-offset-2.col-xs-8.match__pass.bg-success
                        h5= res.cLeft 
                        h5 Match!
                    else
                      .col-xs-offset-2.col-xs-8.match__pass.bg-danger
                        h5= res.cLeft
                        h5 Something is different here... 
                  .row
                    .col-xs-6.thumb--wrapper
                      img.thumb(src='data:image/png;base64,' + res.leftData.data)
                    .col-xs-6.thumb--wrapper
                      img.thumb(src='data:image/png;base64,' + res.rightData.data)
        .tab-pane(role="tabpanel", id="past")
          .panel.panel-default
            .panel-heading
              h3 Past Comparisons:
            .panel-body.logs
              table.table-center.table.table-hover.table-bordered
                thead
                  tr.row
                    td.col-xs-2
                      h4 date
                    td.col-xs-2
                      h4 current
                    td.col-xs-2
                      h4 original
                    td.col-xs-4
                      h4 results
                tbody
                  each val in logs
                    if val.status == "success"
                      tr.success.row
                        include table-logs.jade
                    else if val.status == "error"
                      tr.danger.row
                        include table-logs.jade
                    else
                      tr.warning.row
                        include table-logs.jade
include footer.jade
include footer.jade
